streamlit
langchain
langchain-groq
langchain-huggingface
langchain-community
langchain-text-splitters
langchain-core
langgraph
groq
sentence-transformers
chromadb
PyMuPDF
python-dotenv
sqlalchemy
psycopg2-binary
serpapi
google-search-results
python-docx
fastapi
uvicorn
python-multipart
langsmith
numpy
pandas
requests